html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

header {
	/* border: solid; */
	height: 4rem;
	background-color: #fff;
}

button {
	background: none;
	text-decoration: none;
}

img {
	width: 10rem;
}

figcaption {
	/* border: solid; */
	text-align: center;
}
