html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	max-width: 1920px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h3 {
	font-size: 1.1rem;
	font-weight: 500;
}

header {
	/* border: solid; */
	height: 4rem;
	background-color: #fff;
}

button {
	all: unset;
	cursor: pointer;
}

button:focus-visible {
	outline: 3.5px solid darkorange;
}

figcaption {
	/* border: solid; */
	/* text-align: center; */
}

figure {
	/* text-align: center; */
}

/* .stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}
.stars::before {
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(
		90deg,
		var(--star-background) var(--percent),
		var(--star-color) var(--percent)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

#fullscreenFilterButton {
	display: none;
}

@media (max-width: 950px) {
	#dropDownButton {
		display: none;
	}
	#fullscreenFilterButton {
		display: unset;
	}
}
