html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	max-width: 1920px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

header {
	/* border: solid; */
	height: 4rem;
	background-color: #fff;
}

button {
	background: none;
	text-decoration: none;
}

button:focus-visible {
	outline: 3.5px solid darkorange;
}

figcaption {
	/* border: solid; */
	/* text-align: center; */
}

figure {
	text-align: center;
}
