html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* line-height: 1.3; */
	font-weight: 400;
	font-style: normal;
	max-width: 1920px;
}

@font-face {
	font-family: 'Begika';
	src: url('/fonts/begika.ttf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 3.5px solid darkorange;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

h3 {
	font-size: 1.1rem;
	font-weight: 500;
}

input[type='radio']:checked {
	filter: grayscale(1) contrast(210%);
}

header {
	/* height: 4rem; */
	background-color: #fff;
}

button {
	all: unset;
	cursor: pointer;
}

fieldset {
	border: unset;
	border-bottom: 1px solid rgb(229, 229, 229);

	padding-left: unset;
	padding-bottom: 1rem;

	margin: auto;
	margin-bottom: 0.8rem;

	width: 85%;
}

legend {
	font-family: Lato;
	font-weight: 600;
	color: #5d7761;
}

header h2 {
	color: #5d7761;
}

.stopScroll {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.github {
	position: absolute;
	top: 0.55rem;
	right: 1rem;
}

.github:hover path {
	fill: #485c4b;
}

.github path {
	fill: #739175;
}

.sortByOpen {
	transform: rotate(180deg) translateY(-15%);
	transition: transform 0.2s;
}

.sortByClosing {
	transform: rotate(360deg);
	transition: transform 0.2s;
}

.sortByClosed {
	transform: rotate(0deg);
}

.sortByInitialClosed {
}

.noselect {
	user-select: none;
}

.logo {
	display: inline;
	position: absolute;
	font-family: Begika;
	font-size: 2.4rem;
	color: #739175;
	top: 0.35rem;
	left: 1rem;
}

.logoAccent {
	font-feature-settings: 'aalt';
}

@media (max-width: 1100px) {
	.logo {
		font-size: 2rem;
		top: 0.55rem;
		left: 1rem;
	}
}

@media (max-width: 950px) {
	.logo {
		display: block;
		position: relative;
		font-family: Begika;
		font-size: 2rem;
		color: #739175;
		top: unset;
		left: unset;
		/* margin-bottom: 0.9rem; */
		margin-left: 1rem;
		margin-top: 0.55rem;
		padding-bottom: 0.35rem;

		/* border-bottom: 1px solid rgba(34, 34, 34, 0.15); */
	}
}

#navSkip {
	position: absolute;
	padding: 0.6em;
	color: white;
	transform: translateY(-120%);
	z-index: -1;
	left: 1em;
	top: 0.3em;
	transition: transform 0.3s;
}
#navSkip:focus-visible {
	outline: 5px dashed darkorange;
	transform: translateY(0);
	z-index: 100;
	background: black;
}

#fullscreenFilterButton {
	display: none;
}

#fullscreenFilter {
	position: fixed;
	overflow-y: scroll;
	background-color: white;
	height: 100%;
	width: 100%;
	opacity: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

#darkFilter {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: black;
}

#sortOptions {
	position: absolute;
	background-color: #e6efe6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 10rem;
	min-width: 10rem;
}

#sortOptions button {
	padding: 0.5rem 1rem;
}

#sortOptions button:hover {
	background-color: #cddfcd;
}

#sortHighestPrice {
	padding-bottom: 0.8rem !important;
}

@media (max-width: 950px) {
	#dropDownButton {
		display: none;
	}
	#fullscreenFilterButton {
		display: unset;
	}
}
