.sortNav {
	/* border: solid; */
	position: absolute;
	/* display: inline-flex; */
	/* position: sticky; */
	right: 4rem;
	/* top: 20rem; */
}

.sideNav {
	/* border: solid; */
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
	width: 260px;
	/* background-color: bisque; */
	flex-shrink: 0;
	padding-left: 2rem;
	margin-top: 2rem;
}

.wallHeader {
	/* border: solid; */
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	top: 0;
	align-items: center;
	z-index: 5;
	padding-left: 1rem;
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
	min-width: 70vw;
}

.bodyContainer {
	display: flex;
}

.sideNav fieldset {
	display: flex;
	flex-direction: column;
}

.catagories {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.topNav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.topNav button {
	padding: 1rem 1rem;
}

.topNav a {
	margin: 1rem;
	cursor: pointer;
}

.dropdownOpen {
	position: absolute;
	border: solid;
}

.dropdownClosed {
	display: none;
}

.banner {
	display: flex;
	min-height: 3.5rem;
	background-color: rgb(247, 247, 247);
	justify-content: center;
}

@media (max-width: 950px) {
	.sideNav {
		display: none;
	}
	.main {
		padding: 0 0.5rem;
	}
}
