.sortNav {
	position: absolute;
	right: 6rem;
}

@media (max-width: 450px) {
	.sortNav {
		position: absolute;
		right: 3rem;
	}
}

.sideNav {
	position: -webkit-sticky;
	position: sticky;
	width: 260px;
	padding-left: 2rem;
}

.wallHeader {
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	top: 0;
	align-items: center;
	z-index: 5;
	padding-left: 1rem;
}

.unloaded {
	display: none;
}

.invisible {
	visibility: none;
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
	min-width: 70vw;
}

.bodyContainer {
	display: flex;
	margin-top: 0.5rem;
}

.sideNav fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 16rem;
}

.catagories {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.topNav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.topNav button {
	padding: 1rem 1rem;
}

@media (max-width: 400px) {
	.topNav button {
		padding: 1rem 0.5rem;
	}
}

.topNav a {
	margin: 1rem;
	cursor: pointer;
}

.dropdownOpen {
	animation-name: openingDropdown;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
}

@keyframes openingDropdown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

.dropdownClosed {
	visibility: hidden;

	animation-name: closingDropdown;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
}

@keyframes closingDropdown {
	from {
		transform: translateY(0%);
		visibility: visible;
	}
	to {
		transform: translateY(-100%);
		visibility: hidden;
	}
}

.dropdownInitial {
	visibility: hidden;
}

.sortContainer {
	position: absolute;
	min-height: 10rem;
	min-width: 10rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	top: 2rem;
	right: -1rem;
}

.banner {
	display: flex;
	min-height: 3.5rem;
	background-color: #e6efe6;
	justify-content: center;
}

.filterOpen {
	display: unset;
	transform: translateY(0%);

	animation-name: openingFilter;
	animation-duration: 200ms;
}

@keyframes openingFilter {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

.filterClosing {
	display: unset;
	transform: translateY(100%);

	animation-name: closingFilter;
	animation-duration: 200ms;
}

@keyframes closingFilter {
	from {
		transform: translateY(0%);
		display: unset;
	}
	to {
		transform: translateY(100%);
		display: none;
	}
}

.filterClosed {
	display: none;
}

.openDark {
	display: unset !important;

	animation-name: darkFilter;
	animation-duration: 200ms;
}

@keyframes darkFilter {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.75;
	}
}

.closingDark {
	display: unset !important;

	animation-name: exitDarkFilter;
	animation-duration: 200ms;
}

@keyframes exitDarkFilter {
	from {
		opacity: 0.75;
	}

	to {
		opacity: 0;
	}
}

.closeDark {
	display: none;
}

.fullscreenClose {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.mobileBottomButtons {
	position: sticky;
	bottom: 0;
	background: white;
	min-height: 4.5rem;
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid rgb(229, 229, 229);
}

.mobileCancelButton {
	border-radius: 24px;
	color: #000;
	font-weight: bold;
	padding: 0px 15%;
	border: solid #000 2px;
	margin: 0.8rem 0;
}

.mobileApplyButton {
	border-radius: 24px;
	color: #fff;
	font-weight: bold;
	background-color: rgb(35, 35, 35);
	padding: 0px 15%;
	border: solid #000 2px;
	margin: 0.8rem 0;
}

.noBottomBorder {
	border: none;
}

.sideNavPrice {
	margin-left: 0.9rem;
	border: none;
}

.customInput {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 12rem;
	margin-left: 1rem;
	margin-top: -0.3rem;
}

.customInput > input {
	height: 2rem;
	width: 5rem;
	/* margin: 0 0.4rem; */
}

.customMobileInput {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 12.5rem;
	margin-left: 1rem;
	margin-top: -0.3rem;
}

.customMobileInput > input {
	height: 2rem;
	width: 5rem;
}

.mobileTitle {
	color: #5d7761;
	margin-left: 1rem;
}

@media (max-width: 950px) {
	.sideNav {
		display: none;
	}
	.main {
		padding: 0 0.5rem;
	}
	.topNav {
		display: none;
	}
	.banner {
		border-top: 0.1px solid rgba(34, 34, 34, 0.1);
	}
}

.legend {
	font-family: Lato;
	font-weight: 600;
	margin: unset;
	margin-bottom: 0.2rem;
	color: #5d7761;
}

.sortByButton {
	display: flex;
	min-width: 4.5rem;
	align-items: center;
	justify-content: space-between;
}

.topNav button:hover {
	text-decoration: underline;
}

.catagories button {
	transition: transform 0.2s;
}

.catagories button:hover {
	transform: translateX(1%);
	transition: transform 0.2s;
}
