.sortNav {
	/* border: solid; */
	position: absolute;
	/* display: inline-flex; */
	/* position: sticky; */
	right: 4rem;
	/* top: 20rem; */
}

.sideNav {
	/* border: solid; */
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
	width: 260px;
	/* background-color: bisque; */
	flex-shrink: 0;
	padding-left: 2rem;
	margin-top: 2rem;
}

.wallHeader {
	/* border: solid; */
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	top: 0;
	align-items: center;
	z-index: 5;
	padding-left: 1rem;
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
	min-width: 70vw;
}

.bodyContainer {
	display: flex;
}

.sideNav fieldset {
	display: flex;
	flex-direction: column;
}

.catagories {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.topNav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.topNav button {
	padding: 1rem 1rem;
}

@media (max-width: 400px) {
	.topNav button {
		padding: 1rem 0.5rem;
	}
}

.topNav a {
	margin: 1rem;
	cursor: pointer;
}

.dropdownOpen {
	position: absolute;
	border: solid;
}

.dropdownClosed {
	display: none;
}

.banner {
	display: flex;
	min-height: 3.5rem;
	background-color: rgb(247, 247, 247);
	justify-content: center;
}

.filterOpen {
	display: unset;
	transform: translateY(0%);

	animation-name: openingFilter;
	animation-duration: 200ms;
}

@keyframes openingFilter {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

.filterClosing {
	display: unset;
	transform: translateY(100%);

	animation-name: closingFilter;
	animation-duration: 200ms;
}

@keyframes closingFilter {
	from {
		transform: translateY(0%);
		display: unset;
	}
	to {
		transform: translateY(100%);
		display: none;
	}
}

.filterClosed {
	display: none;
}

.openDark {
	display: unset !important;

	animation-name: darkFilter;
	animation-duration: 200ms;
}

@keyframes darkFilter {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.75;
	}
}

.closingDark {
	display: unset !important;

	animation-name: exitDarkFilter;
	animation-duration: 200ms;
}

@keyframes exitDarkFilter {
	from {
		opacity: 0.75;
	}

	to {
		opacity: 0;
	}
}

.closeDark {
	display: none;
}

@media (max-width: 950px) {
	.sideNav {
		display: none;
	}
	.main {
		padding: 0 0.5rem;
	}
}

.fullscreenClose {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.mobileBottomButtons {
	position: sticky;
	bottom: 0;
	background: white;
	min-height: 4.5rem;
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid rgb(229, 229, 229);
}

.mobileCancelButton {
	border-radius: 24px;
	color: #000;
	font-weight: bold;
	padding: 0px 15%;
	border: solid #000 2px;
	margin: 0.8rem 0;
}

.mobileApplyButton {
	border-radius: 24px;
	color: #fff;
	font-weight: bold;
	background-color: rgb(35, 35, 35);
	padding: 0px 15%;
	border: solid #000 2px;
	margin: 0.8rem 0;
}

.noBottomBorder {
	border: none;
}
