.productCard {
	max-width: 25%;
	flex-basis: 25%;
	max-height: 19rem;

	border: solid;
	border-color: #ebebeb;
	border-width: 0.1px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.insideCard {
	/* height: 100%; */
	margin: 1rem;
	margin-bottom: 2rem;
	/* padding: 1rem; */
	/* border: solid; */
	/* cursor: pointer; */
}

/* .ImgSize {
} */

.ImgContainer {
	/* border: solid; */
	position: relative;
	min-height: 10.5rem;
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (max-width: 1200px) {
	.productCard {
		max-width: 33.3333%;
		flex-basis: 33.3333%;
	}
}

@media (max-width: 700px) {
	.productCard {
		max-width: 50%;
		flex-basis: 50%;
	}
}

@media (max-width: 450px) {
	.productCard {
		max-width: 100%;
		flex-basis: 100%;
	}
	.ImgContainer {
		max-height: 15rem;
	}
	.productCard {
		margin: 0;
	}
}
