.center {
	display: flex;
	justify-content: center;
}

.backNav {
	position: relative;
	width: fit-content;
	margin: 1rem 0;
	left: 10rem;
	cursor: pointer;
}

.backNav:hover .svgArrow {
	transform: translateX(-40%);
	transition: transform 0.2s;
}

.backNav a {
	color: #464646;
}

.productDisplay {
	display: flex;
	justify-content: space-evenly;
	min-height: 80vh;
	width: 85vw;
}

.imgContainer {
	position: relative;
	/* height: 50vw; */
	width: 50vw;
	max-height: 500px;
	max-width: 550px;
}

.productInfo {
	position: inherit;
	width: 33vw;
	/* margin-left: 3rem; */
}

.banner {
	display: flex;
	min-height: 3.5rem;
	/* background-color: rgb(247, 247, 247); */
	background-color: #e6efe6;
	justify-content: center;
}

.topNav {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

@media (max-width: 950px) {
	.topNav {
		border-top: 1px solid rgba(34, 34, 34, 0.15);
	}
}

.topNav > * {
	margin: 1rem 1%;
}

.stars {
	/* display: inline; */
	margin-top: 1rem;
}

.price {
	/* margin: 0; */
}

.svgArrow {
	margin-right: 0.3rem;
	transition: transform 0.3s;
}

@media (max-width: 800px) {
	.productDisplay {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80vw;
		height: unset;
		margin-top: unset;
	}

	.imgContainer {
		position: relative;
		height: 80vw;
		width: 90vw;
		max-height: unset;
		max-width: unset;
	}

	.productInfo {
		position: inherit;
		width: unset;
		margin-left: unset;
	}

	.productInfo > h2 {
		margin-bottom: 0.8rem;
	}

	.center {
		display: flex;
		justify-content: center;
	}

	.backNav {
		left: 1rem;
	}

	/* .topNav > * {
		margin: 1rem 1%;
	} */
}
