.center {
	display: flex;
	justify-content: center;
}

.productDisplay {
	display: flex;
	/* border: solid; */
	width: 80vw;
	margin-top: 5rem;
}

.imgContainer {
	/* border: solid; */
	position: relative;
	height: 50vw;
	width: 50vw;
	max-height: 500px;
	max-width: 550px;

	/* margin-left: 15rem; */
	/* margin-top: 5rem; */
}

.productInfo {
	/* border: solid; */
	position: inherit;

	/* margin-top: 5rem;
	margin-left: 5rem; */
	width: 33vw;
	margin-left: 3rem;
	margin-top: 2rem;
}
